.hero__container {
  position: relative;
  background: url("../src/assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  color: white;
  overflow: hidden;
}

.hero__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0c598d;
  opacity: 0.9;
  z-index: -1;
}

.hero__content {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main__heading {
  font-size: 45px;
  color: #fff;
}
.subheading {
  color: #fff;
  font-weight: 300;
}
