.watch__fav {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.watch__fav:hover {
  text-decoration: underline;
}
.search__container {
  padding-top: 15px;
  margin-bottom: 15px;
}

.search__container form {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  width: 320px;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
}
input[type="text"]::placeholder {
  color: #fff;
}
